<% include partials/header %>
<div style="background:light !important" class="jumbotron">
        <h1 class="display-4">Hello, customers Good news to all!</h1>
        <p class="lead">we are launching a new service...  </p>
        <hr class="my-4">
        <p> Our company is announcing buying and selling stock please utilize this opportunity...
        </p>
        <hr class="my-4">
        <p>
            Here in this application you can buy and sell stocks and it will matches the good deal..
        </p>
        
        <hr class="my-4">
        <div>
                <hr class="my-4">
                <hr class="my-4">

            <div class="text-center">
                <a class="btn btn-secondary btn-lg" href="https://bondevalue.com/" role="button">Learn more about our company</a>

            </div>

        </div>

      </div>
</div>
<% include partials/footer %>
